@font-face {
  font-family: "SourceHanSans";
  src: url("../fonts/source-han-sans/siyuan-Regular.otf") format("opentype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "SourceHanSans";
  src: url("../fonts/source-han-sans/siyuan-Bold.otf") format("opentype");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
body {
  font-family: 'SourceHanSans', 'lanting', 'Microsoft Jhenghei', Lantinghei SC, PingFang SC, Seguo UI, Microsoft Yahei, Arial !important;
  font-weight: 400;
  line-height: 1.7;
  font-size: 16px;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'SourceHanSans', 'lanting', 'Microsoft Jhenghei', Lantinghei SC, PingFang SC, Seguo UI, Microsoft Yahei, Arial !important;
  font-weight: 700;
}
